//Color
$white: #ffffff;
$o-white: rgba(255, 255, 255, 0.3);
$l-green: #63d1bb;
$d-green: #56c3b2;
$n-green: #62d1ba;
$v-green: #59d5bc;
$dd-green: #46c1ae;
$black: #000000;
$g-black: #444444;
$w-gray: #f1f1f1;
$n-gray: #e5e5e5;
$n-white: #ececec;
$o-black: rgba(0, 0, 0, 0.1);
$od-black: rgba(0, 0, 0, 0.3);
$bc-grey: #f9f9f9;
$sh-gray: rgba(0, 1, 1, 0.25);

// Width
$tablet-width: 768px;
$tablet_top-width: 1000px;
$desktop-width: 1150px;
$desktop_top-width: 1300px;
$mobile-width-only: 767px;
