//Color
$white: #ffffff;
$o-white: rgba(255, 255, 255, 0.3);
$l-green: #63d1bb;
$d-green: #56c3b2;
$n-green: #62d1ba;
$v-green: #59d5bc;
$dd-green: #46c1ae;
$black: #000000;
$g-black: #444444;
$w-gray: #f1f1f1;
$n-white: #ececec;
$o-black: rgba(0, 0, 0, 0.1);

// Width
$tablet-width: 768px;
$desctop-width: 1150px;
