.about {
  color: $black;
}

.about__wrapper {
  margin: 0 auto;
  padding: 30px 30px 0;
  max-width: 365px;
}

.about__title {
  padding: 0;
  margin: 0;

  @include font-face(700, 25px, 30px);
}

.about__advantages-list {
  min-width: 260px;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    min-width: 668px;
    padding: 42px 50px 0;
  }

  .about__title {
    @include font-face(700, 43px, 50px);
  }
}

@media (min-width: $desctop-width) {
  .about__wrapper {
    min-width: 1050px;
    padding-top: 80px;
  }

  .about__title {
    margin-left: 175px;

    @include font-face(700, 43px, 50px);
  }
}
