.additional-list {
  display: none;
}

@media (min-width: $desctop-width) {
  .additional-list {
    display: flex;
    min-height: 43px;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }

  .additional-list__item {
    align-self: flex-end;
    list-style: none;
    margin-right: 45px;

    &:first-child {
      padding-right: 15px;
    }
  }

  .additional-list__link {
    text-decoration: none;

    @include font-face(700, 15px, 24px);
    letter-spacing: 0.5px;
    color: $black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
