.advantages-list {
  padding: 0;
  margin: 0;
  min-width: 260px;

  .advantages-list__item {
    list-style: none;
    margin-bottom: 83px;
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }

  .advantages-list__text {
    padding: 0;
    margin: 0;
    min-height: 40px;
    @include font-face(700, 17px, 20px);
  }

  .advantages-list__item--ecology {
  }

  .advantages-list__item--style {
  }

  .advantages-list__item--like {
  }

  .advantages-list__item--hand-made {
  }

  .advantages-list__item--support {
  }

  .advantages-list__item--box-gift {
  }
}
