.catalog {
  width: 100%;
}

.catalog__wrapper {
  padding: 30px;
  max-width: 365px;
  margin: 0 auto;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__item {
  margin-bottom: 30px;
  list-style: none;
  border: 1px solid $n-white;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px $o-black;
  }

  &:active {
    box-shadow: 0 3px 5px $o-black;
  }
}

.catalog__product {
  min-height: 260px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding: 79px 50px 55px;
    max-width: 668px;
    margin: 0 auto;
  }

  .catalog__item {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding: 128px 50px 37px;
    max-width: 1050px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-right: 48px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
