.catalog {
  width: 100%;
}

.catalog__wrapper {
  padding: 30px;
  max-width: 365px;
  margin: 0 auto;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__item {
  margin-bottom: 30px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__product {
  min-height: 260px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding: 79px 50px 53px;
    max-width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: $desctop-width) {
  .catalog__wrapper {
    padding: 128px 50px 57px;
    max-width: 1050px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-bottom: 0;
    margin-right: 51px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
