.color {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.color__item {
  display: flex;
  align-items: center;
  min-height: 38px;
  margin-bottom: 23px;
  list-style: none;

  &:first-of-type {
    margin-top: 25px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.color__item label {
  position: relative;
  padding-left: 61px;
  cursor: pointer;
}

.color__input + label {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 36px;
    height: 36px;
    border: 1px solid $g-black;
  }
}

.color__input:hover + label {
  &::before {
    border: 1px solid $n-green;
  }
}

.color__input:focus + label {
  &::before {
    outline: none;
    box-shadow: 0 0 0 2px $n-green;
  }
}

.color__input:active + label {
  &::before {
    border: 1px solid $od-black;
  }
}


.color__input:checked + label {
  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 23px;
    height: 16px;
    background-image: url("../img/form/checkbox/tick.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .color {
    flex-wrap: wrap;
  }

  .color__item {
    width: 210px;
    min-height: 52px;
    margin: 0 52px 24px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 24px;
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  .color__item label {
    padding-left: 82px;
  }

  .color__input + label {
    &::before {
      content: "";
      width: 50px;
      height: 50px;
    }
  }

  .color__input:checked + label {
    &::after {
      left: 10px;
      width: 32px;
      height: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .color__item {
    &:nth-child(2n + 2) {
      margin-right: 52px;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}
