.form {
  color: $black;
}

.form__text {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  @include font-face(400, 13px, 24px);
}

.form__search {
  padding: 0;
  margin: 0;

  @include font-face(700, 17px, 18px);
  border: none;
  border-top: 1px solid $n-green;
}

.form__search--wrapper {
  min-width: 260px;
  margin-bottom: 31px;

  &:last-of-type {
    margin-bottom: 17px;
  }

  & textarea {
    padding: 0;
    margin: 0;
    margin-top: 22px;
    width: 100%;
    min-height: 140px;

    @include font-face(400, 17px, 18px);
    font-family: "OpenSans", "Arial", sans-serif;
    box-sizing: border-box;
  }

  & textarea::placeholder {
    padding: 17px;
  }
}

.form__legend {
  min-width: 40px;
  padding-right: 20px;
}

.form__input-tel {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 51px;
  border: none;
  border-bottom: 1px solid $black;

  @include font-face(400, 17px, 18px);
  font-family: "OpenSans", "Arial", sans-serif;
}

.form__input-mail {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 51px;
  border: none;
  border-bottom: 1px solid $black;

  @include font-face(400, 17px, 18px);
  font-family: "OpenSans", "Arial", sans-serif;
}

.form__small-text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @include font-face(400, 14px, 16px);
  color: $g-black;
}

.form__button-link {
  padding: 0;
  margin: 0;
  width: 100%;

  @include font-face(700, 17px, 16px);
}
