.form {
  color: $black;
}

.form__text {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  @include font-face(400, 13px, 24px);
  letter-spacing: 0.5px;
}

.form__search {
  padding: 0;
  margin: 0;

  @include font-face(700, 17px, 18px);
  border: none;
  border-top: 1px solid $n-green;
}

.form__search--wrapper {
  min-width: 260px;
  margin-bottom: 31px;

  &:last-of-type {
    margin-bottom: 16px;
  }
}

.form__search--wrapper textarea {
  padding: 17px;
  margin: 0;
  margin-top: 19px;
  width: 100%;
  height: 142px;

  @include font-face(400, 17px, 18px);
  font-family: "OpenSans", "Arial", sans-serif;
  border: 2px solid $g-black;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }

  &:hover {
    border: 2px solid $n-green;
  }

  &:focus {
    border: 2px solid $n-green;
  }
}

.form__legend {
  min-width: 40px;
  padding-right: 20px;
  text-transform: uppercase;
  color: $l-green;
}

.form__input-tel,
.form__input-mail {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 51px;
  border: none;
  border-bottom: 1px solid $black;

  @include font-face(400, 17px, 18px);
  font-family: "OpenSans", "Arial", sans-serif;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }
}

.form__input-tel {
  margin-bottom: 5px;
}

.form__input-mail {
  margin-bottom: 20px;
}

.form__list {
  position: relative;

  &:hover {
    stroke-width: 4;

    .form__input-tel,
    .form__input-mail {
      border-bottom: 1px solid $n-green;
    }

    .form__icon {
      fill: $n-green;
      opacity: 1;
    }
  }

  &:focus-within {
    .form__input-tel,
    .form__input-mail {
      border-bottom: 1px solid $n-green;
    }

    .form__icon {
      fill: $n-green;
      opacity: 1;
    }
  }
}

.form__icon {
  fill: $black;
  opacity: 0.2;
}

.form__list--tel svg {
  position: absolute;
  top: 11px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.form__list--mail svg {
  position: absolute;
  top: 18px;
  right: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.form__small-text {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;

  @include font-face(400, 14px, 16px);
  color: $g-black;
}

.form__button-link {
  padding: 0;
  margin: 0;
  width: 100%;

  @include font-face(700, 17px, 16px);
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form__text {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 13px;

    @include font-face(400, 17px, 30px);
  }

  .form__search {
    border-top: none;

    @include font-face(700, 19px, 18px);
  }

  .form__search--wrapper {
    margin: 0;
    padding: 50px 50px 48px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__search--wrapper textarea {
    margin-top: 0;
  }

  .form__wrapper-color {
    background-color: $w-gray;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .form__wrapper-color .form__search--wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__legend {
    float: left;
    min-width: 167px;
    padding-right: 0;
    margin-top: 16px;
  }

  .form__input-mail,
  .form__input-tel {
    padding-left: 18px;
    padding-right: 18px;
    background-color: transparent;

    @include font-face(400, 17px, 18px);
    font-family: "OpenSans", "Arial", sans-serif;
  }

  .form__input-tel {
    margin: 0;
  }

  .form__list--tel svg {
    right: 26px;
  }

  .form__list--mail svg {
    right: 23px;
  }

  .form__list {
    display: flex;
    margin-bottom: 24px;
  }


  .form__list--textarea {
    margin-bottom: 0;
  }

  .form__wrapper-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__button-link {
    width: 230px;

    @include font-face(700, 17px, 16px);
  }

  .form__small-text {
    margin: 0;

    @include font-face(400, 17px, 30px);
    letter-spacing: 0.5px;
  }
}

@media (min-width: $desctop-width) {
  .form__text {
    padding-left: 225px;
    padding-right: 223px;
    max-width: 702px;
    margin: 0 auto;
  }

  .form__search {
    border-top: none;

    @include font-face(700, 19px, 18px);
  }

  .form__search--wrapper {
    padding-left: 97px;
    padding-right: 225px;
    max-width: 828px;
    margin: 0 auto;
  }

  .form__legend {
    float: left;
    min-width: 130px;
    padding-right: 0;
  }

  .form__input-tel {
    background-color: transparent;

    @include font-face(400, 17px, 18px);
  }

  .form__input-mail {
    background-color: transparent;

    @include font-face(400, 17px, 18px);
    font-family: "OpenSans", "Arial", sans-serif;
  }

  .form__wrapper-button {
    padding-left: 225px;
    padding-right: 225px;
    max-width: 700px;
    margin: 0 auto;
  }

  .form__button-link {
    width: 230px;

    @include font-face(700, 17px, 16px);
  }
}
