.form {
  color: $black;

  .form__text {
    padding: 0;
    margin: 0;
    margin-bottom: 29px;
  }

  .form__search {
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid $n-green;
  }

  .form__search--wrapper {
    min-width: 258px;
    margin-bottom: 31px;

    &:last-of-type {
      margin-bottom: 17px;
    }

    & textarea {
      padding: 0;
      margin: 0;
      margin-top: 22px;
      min-width: 100%;
      min-height: 140px;
    }
  }

  .form__legend {
    min-width: 40px;
    padding-right: 20px;
  }

  .form__input-tel {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 51px;
    border: none;
    border-bottom: 1px solid $black;
  }

  .form__input-mail {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 51px;
    border: none;
    border-bottom: 1px solid $black;
  }

  .form__small-text {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  .form__button-link {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
