.intro {
  color: $black;
  background-color: $w-gray;
}

.intro__wrapper-color {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 425px;
  min-height: 177px;
  margin: 0 auto;
}

.intro__title-bold {
  padding: 0;
  margin: 0;

  @include font-face(700, 27px, 30px);
}
