.intro {
  color: $black;
  background-color: $w-gray;
}

.intro__wrapper-color {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 177px;
  margin: 0 auto;
}

.intro__title-bold {
  padding: 0;
  margin: 0;

  @include font-face(700, 27px, 30px);
  letter-spacing: 1px;
}

@media (min-width: $tablet-width) {
  .intro__wrapper-color {
    position: relative;
    min-height: 226px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 12px;
      background-image: url("../img/catalog/intro/zigzag-fill-desktop.svg");
      background-size: cover;
    }
  }

  .intro__title-bold {
    margin-top: 25px;

    @include font-face(700, 43px, 50px);
    letter-spacing: 1.5px;
  }
}

@media (min-width: $desctop-width) {
  .intro__wrapper-color {
    min-height: 255px;

    &::before {
      height: 17px;
    }
  }

  .intro__title-bold {
    margin-top: 10px;

    @include font-face(700, 53px, 57px);
    letter-spacing: 2.2px;
  }
}
