.main-nav {
  position: absolute;
  left: 0;
  width: 100%;
  color: $black;
}

.main-nav__wrapper {
  display: grid;
  grid-template-rows: 79px auto auto;
  max-width: 425px;
  min-height: 79px;
  margin: 0 auto;
}

.main-nav__dropdown {
  justify-self: end;
  align-self: center;
  width: 20px;
  height: 14px;
  padding: 0;
  margin-right: 31px;
  border: none;
  background-color: $white;
  cursor: pointer;
}

.main-nav__dropdown-closed {
  position: relative;
  justify-self: end;
  align-self: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 31px;
  border: none;
  background-color: $white;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 2px;
    height: 24px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed {
  display: none;
}

.main-nav--nojs {
  position: static;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 668px;
    min-height: 89px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .main-nav__dropdown {
    display: none;
  }
}

@media (min-width: $desctop-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1050px;
  }
}
