.main-products {
  position: relative;
}

.main-products__wrapper {
  max-width: 425px;
  margin: 0 auto;
  border-top: 1px solid $o-black;
}

.main-products__title-bold {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0;
  min-width: 220px;
  max-width: 365px;
  min-height: 90px;

  @include font-face(700, 27px, 30px);
  color: $black;
  text-align: center;
}

.main-products__image {
  margin-bottom: -23%;
  min-height: 373px;
  min-width: 320px;
  background-color: $w-gray;
}

.main-products__image img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-products__categories-inner {
  display: flex;
  flex-direction: column;
}

.main-products__categories {
  width: 100%;
  min-height: 103px;

  @include font-face(700, 19px, 24px);
  color: $white;
  text-decoration: none;

  & span {
    display: block;
    min-width: 130px;
    margin-top: 25px;
    margin-left: 30px;
  }
}

.main-products__categories--interior {
  position: relative;
  background-color: $l-green;

  &::before {
    content: "";
    position: absolute;
    top: 22%;
    right: 6%;
    width: 40px;
    height: 62px;
    opacity: 0.5;
    background-image: url("../img/index/main-products/interior.svg");
  }

  &:hover {
    background-color: $v-green;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.main-products__categories--toy {
  position: relative;
  background-color: $d-green;

  &::before {
    content: "";
    position: absolute;
    top: 24%;
    right: 5%;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-image: url("../img/index/main-products/toy.svg");
  }

  &:hover {
    background-color: $dd-green;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-products__wrapper {
    position: relative;
    min-height: 746px;
    min-width: 768px;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -12px;
      left: 0;
      background: url("../img/index/main-products/zigzag-fill-desktop.svg") no-repeat;
      background-size: cover;
    }
  }

  .main-products__title-bold {
    min-width: 668px;
    min-height: 100px;
    padding-left: 50px;
    padding-right: 50px;

    @include font-face(700, 43px, 50px);
  }

  .main-products__image {
    margin-bottom: -119px;
    min-height: 746px;
    min-width: 768px;
    background: $w-gray url("../img/index/main-products/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .main-products__image img {
    width: 100%;
    height: 100%;
    display: none;
  }

  .main-products__categories-inner {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-products__categories {
    width: 100%;
    min-height: 119px;

    @include font-face(700, 20px, 30px);
  }
}

@media (min-width: $desctop-width) {
  .main-products__wrapper {
    min-height: 746px;
    min-width: 1150px;
    margin: 0 auto;

    &::after {
      height: 34px;
      bottom: -17px;
    }
  }

  .main-products__title-bold {
    max-width: 700px;
    min-height: 114px;
    padding: 0;

    @include font-face(700, 53px, 57px);
  }

  .main-products__image {
    margin-bottom: -119px;
    min-height: 746px;
    min-width: 768px;
    background: $w-gray url("../img/index/main-products/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .main-products__image img {
    width: 100%;
    height: 100%;
    display: none;
  }

  .main-products__categories-inner {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-products__categories {
    width: 100%;
    min-height: 119px;

    @include font-face(700, 20px, 30px);
  }
}
