.main-nav {
  position: relative;
  min-height: 79px;
  color: $black;
}

.main-nav__dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 79px;
  padding: 0;
  margin-right: 0;
  border: none;
  background-color: $white;
  cursor: pointer;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__dropdown {
    &::before {
      content: "";
      position: absolute;
      top: 32px;
      right: 30px;
      width: 21px;
      height: 14px;
      background-image: url("../img/header/burger-menu.svg");
      background-repeat: no-repeat;
    }
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
  }

  .main-nav--opened .main-nav__dropdown {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 26px;
      right: 39px;
      width: 2px;
      height: 25px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs {
    padding-top: 79px;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }

  .main-nav--nojs .main-nav__dropdown {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: column-reverse;
    min-height: 89px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .main-nav__dropdown {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1050px;
  }
}
