.main-products {
  position: relative;
}

.main-products__wrapper {
  position: relative;
  min-height: 489px;
  margin: 0 auto;
  border-top: 1px solid $o-black;
  background-color: #f9f9f9;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 373px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/index/main-products/main-products_mobile.jpg");
    background-repeat: no-repeat;
    background-position: 0 -18px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/main-products/main-products_mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 320px auto;
    }
  }
}

.main-products__title-bold {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0;
  min-width: 265px;
  max-width: 365px;
  min-height: 90px;

  @include font-face(700, 27px, 30px);
  color: $black;
  text-align: center;
}

.main-products__categories-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -90px;
}

.main-products__categories {
  width: 100%;
  min-height: 103px;

  @include font-face(700, 19px, 24px);
  color: $white;
  text-decoration: none;

  & span {
    display: block;
    min-width: 130px;
    margin: 23px 100px 10px 30px;
  }
}

.main-products__categories--interior {
  position: relative;
  background-color: $l-green;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 35px;
    width: 40px;
    height: 62px;
    opacity: 0.5;
    background-image: url("../img/index/main-products/interior.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $v-green;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.main-products__categories--toy {
  position: relative;
  background-color: $d-green;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    right: 25px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-image: url("../img/index/main-products/toy.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $dd-green;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-products__wrapper {
    position: relative;
    min-height: 746px;
    min-width: 768px;
    margin: 0 auto;

    &::before {
      width: 768px;
      height: 746px;
      background-image: url("../img/index/main-products/hero-tablet.jpg");
      background-position: 0 -2px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/main-products/hero-tablet@2x.jpg");
        background-size: 768px auto;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 14px;
      background-image: url("../img/index/main-products/zigzag-fill-tablet.svg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: $tablet_top-width) {
        height: 17px;
      }
    }
  }

  .main-products__title-bold {
    top: 155px;
    min-width: 668px;
    min-height: 100px;
    padding-left: 50px;
    padding-right: 50px;

    @include font-face(700, 43px, 50px);
  }

  .main-products__categories-inner {
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
    align-items: flex-end;
    height: 124px;
  }

  .main-products__categories {
    width: 100%;
    height: 119px;

    @include font-face(700, 20px, 30px);

    span {
      margin-left: 36px;
      margin-top: 26px;
    }
  }

  .main-products__categories--interior {
    margin-left: 50px;

    &::before {
      top: 30px;
      right: 37px;
    }

    &:hover {
      height: 124px;

      span {
        margin-top: 21px;
      }
    }
  }

  .main-products__categories--toy {
    margin-right: 50px;

    &::before {
      top: 32px;
      right: 33px;
    }

    &:hover {
      height: 124px;

      span {
        margin-top: 21px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-products__wrapper {
    min-height: 746px;
    min-width: 1150px;
    margin: 0 auto;

    &::before {
      width: 1150px;
      background-image: url("../img/index/main-products/hero-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/main-products/hero-desktop@2x.jpg");
        background-size: 1150px auto;
      }
    }

    &::after {
      height: 20px;
      background-image: url("../img/index/main-products/zigzag-fill-desktop.svg");
    }
  }

  .main-products__title-bold {
    max-width: 700px;
    min-height: 114px;
    padding: 0;

    @include font-face(700, 53px, 57px);
  }

  .main-products__categories-inner {
    flex-direction: row;
    max-width: 1250px;
    margin: 0 auto;
  }

  .main-products__categories {
    width: 100%;
    min-height: 119px;

    @include font-face(700, 20px, 30px);
  }
}
