.main-filter {
  width: 100%;
}

.main-filter__wrapper {
  margin: 0 auto;
  padding: 17px 30px 60px;
}

@media (min-width: $tablet-width) {
  .main-filter__wrapper {
    padding: 66px 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-filter__wrapper {
    padding: 116px 0 50px;
  }
}
