.modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 100%;
  min-height: 336px;
  background-color: $white;
  box-shadow: 0 5px 10px $sh-gray;
}

.modal--index {
  top: 1046px;
}

.modal--catalog {
  top: 801px;
}

.modal--closed {
  display: none;
}

.modal--opened {
  display: block;
}

.modal__title {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 29px;
  width: 163px;

  @include font-face(700, 25px, 30px);
  text-align: center;
  text-transform: uppercase;
}

.modal__text {
  width: 250px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 21px;
  text-align: center;

  @include font-face(400, 15px, 30px);
}

.modal__form {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.modal__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 52px;
  margin-bottom: 31px;
}

.modal__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 48px;
  margin-right: 7px;
  list-style: none;

  &:last-of-type {
    margin-right: 0;
  }
}

.modal__input + label {
  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 48px;
    border: 2px solid $g-black;
    opacity: 0.1;
    left: -1px;
    top: -1px;
    cursor: pointer;
  }
}

.modal__input:hover + label {
  &::before {
    opacity: 0.6;
  }
}

.modal__input:active + label {
  &::before {
    border: 2px solid $l-green;
    opacity: 1;
  }
}

.modal__input:checked + label {
  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 78px;
    height: 48px;
    border: 2px solid $l-green;
    opacity: 1;
    cursor: pointer;
  }
}

.modal__label {
  @include font-face(700, 17px, 16px);
}

.modal__button {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 52px;

  @include font-face(700, 17px, 16px);
  text-transform: uppercase;
  background-color: $l-green;
  color: $white;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
  }

  .modal--index {
    top: 1532px;
  }

  .modal--catalog {
    top: 1078px;
  }

  .modal__title {
    margin-top: 36px;
    width: 450px;

    @include font-face(700, 30px, 57px);
  }

  .modal__text {
    margin-bottom: 17px;

    @include font-face(400, 17px, 30px);
  }

  .modal__form {
    width: 350px;
  }

  .modal__input + label {
    &::before {
      width: 108px;
    }
  }

  .modal__input:checked + label {
    &::before {
      width: 108px;
    }
  }

  .modal__item {
    width: 108px;
  }
}

@media (min-width: $desktop-width) {
  .modal--index {
    top: 1114px;
  }

  .modal--catalog {
    top: 747px;
  }
}
