.page-header {
  position: relative;
  margin: 0 auto;
  color: $black;
}

.page-header__wrapper {
  width: 100%;
  min-height: 79px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: 22px;
  width: 86px;
  height: 35px;
  margin-left: -43px;
}

.page-header__text {
  display: none;
}
