.page-footer {
  background-color: $w-gray;
}

.page-footer__wrapper {
  min-height: 160px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__list {
  min-height: 80px;
}

.page-footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 0;

  @include font-face(700, 19px, 18px);
  color: $black;
}

.page-footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $black;

  &:hover {
    stroke-width: 4;

    .page-footer__icon-htmlacademy {
      fill: $dd-green;
    }
  }

  &:active {
    stroke-width: 4;

    .page-footer__icon-htmlacademy {
      opacity: 0.3;
    }
  }
}

.page-footer__icon-htmlacademy {
  margin-left: 27px;
  fill: $l-green;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
    min-width: 668px;
    max-width: 1200px;
    padding: 0 50px;
  }

  .page-footer__logo {
    display: block;
    width: 101px;
    height: 34px;
  }

  .page-footer__logo-footer {
    fill: $black;
  }

  .page-footer__logo-footer--active {
    &:hover {
      fill: $dd-green;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__list {
    min-height: 80px;
  }

  .page-footer__developer {
    @include font-face(700, 19px, 18px);
    color: $black;
  }
}
