.production {
  width: 100%;
}

.production__wrapper {
  margin: 0 auto;
  padding: 0 30px 58px;
  max-width: 365px;
}

.production__list {
  padding: 0;
  margin: 0;
}

.production__item {
  list-style: none;
  border: 1px solid $w-gray;
}

.production__product-video {
  min-width: 258px;
  min-height: 503px;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    padding: 0 50px 60px;
    min-width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    padding-bottom: 101px;
    min-width: 1050px;
  }

  .production__product-video {
    min-height: 455px;
  }
}
