.product {
  width: 100%;
}

.product__link--text {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__image-wrapper {
  min-width: 258px;
  min-height: 195px;
  background-color: $w-gray;
}

.product__image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.product__details-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
  min-width: 202px;
  min-height: 121px;
  padding: 28px 28px 25px;
}

.product__title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  @include font-face(700, 17px, 24px);
  letter-spacing: 0.8px;
}

.product__text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;

  @include font-face(400, 13px, 30px);
  color: $g-black;
  border-bottom: 1px solid $n-white;
}

.product__price {
  grid-column: 1 / 2;
  grid-row: 3 / -1;
  padding: 0;
  margin: 0;
  padding-top: 23px;

  @include font-face(700, 15px, 24px);
}

.product__button {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
  align-self: end;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: $white;
  cursor: pointer;

  &:hover {
    stroke-width: 4;

    .product__cart {
      fill: $l-green;
      opacity: 1;
      pointer-events: stroke;
    }
  }

  &:active {
    stroke-width: 4;

    .product__cart {
      opacity: 0.3;
    }
  }
}

.product__cart {
  margin-left: 6px;
  fill: $black;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
  }

  .product__image-wrapper {
    width: 334px;
    height: 334px;
  }

  .product__details-wrapper {
    width: 266px;
    min-height: 281px;
    padding: 27px 33px 25px;
  }

  .product__title {
    @include font-face(700, 20px, 24px);
  }

  .product__text {
    @include font-face(400, 15px, 30px);
    color: $g-black;
  }

  .product__price {
    @include font-face(700, 17px, 24px);
  }
}

@media (min-width: $desctop-width) {
  .product {
    display: block;
  }

  .product__image-wrapper {
    width: 316px;
    height: 462px;
  }

  .product__image-wrapper img {
    object-position: -1px 0;
  }

  .product__details-wrapper {
    width: 262px;
    min-height: 145px;
    padding: 26px 26px 20px;
  }

  .product__title {
    @include font-face(700, 20px, 24px);
  }

  .product__text {
    @include font-face(400, 15px, 30px);
    color: $g-black;
  }

  .product__price {
    @include font-face(700, 17px, 24px);
  }

  .product__button svg {
    margin: 0;
  }
}
