.promo {
  width: 100%;
}

.promo__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 31px 30px 36px;
  max-width: 365px;

  &::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/index/promo/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
  }
}

.promo__title {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;

  @include font-face(700, 25px, 30px);
  color: $black;
}

.promo__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;

  @include font-face(700, 17px, 20px);
  color: $l-green;
  text-transform: uppercase;
}

.promo__description {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  @include font-face(400, 15px, 24px);
}

.promo__list {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  @include font-face(400, 15px, 20px);
}

.promo__item {
  display: flex;
  padding-bottom: 12px;
  margin-bottom: 7px;
  border-bottom: 1px solid $n-white;
}

.promo__name {
  width: 90px;
  margin-right: 7px;
}

.promo__value {
  padding: 0;
  margin: 0;
  width: 160px;
}

.promo__image {
  min-width: 260px;
  min-height: 315px;
  margin-bottom: 27px;
  background-color: $w-gray;
}

.promo__image img {
  width: 100%;
  height: 100%;
  display: block;
}

.promo__price {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  @include font-face(700, 17px, 24px);
  text-align: center;
}

.promo__button-link {
  width: 100%;

  @include font-face(700, 18px, 20px);
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content min-content min-content min-content 52px;
    padding: 52px 50px 60px;
    max-width: 668px;
    min-height: 504px;

    &::before {
      bottom: -8px;
      height: 18px;
      background-image: url("../img/index/promo/zigzag-line-tablet.svg");
    }
  }

  .promo__title {
    grid-column: 1 / -2;
    margin-bottom: 37px;
    width: 450px;

    @include font-face(700, 43px, 50px);
  }

  .promo__subtitle {
    grid-column: -1 / -2;
    justify-self: end;
    max-width: 120px;
    margin-top: 5px;
    margin-right: 4px;

    @include font-face(700, 17px, 17px);
    text-align: center;
  }

  .promo__description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    max-width: 292px;
    min-height: 90px;
    margin-bottom: 16px;

    @include font-face(400, 17px, 30px);
  }

  .promo__list {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 292px;
    margin-bottom: 20px;

    @include font-face(400, 15px, 20px);
  }

  .promo__image {
    grid-column: -1 / 3;
    grid-row: 2 / -1;
    max-width: 334px;
    min-height: 404px;
    margin: 0;
    margin-top: 11px;
  }

  .promo__price {
    grid-column: 1 / 3;
    grid-row: -2 / -3;
    width: 292px;
    margin: 0;

    @include font-face(700, 20px, 24px);
    text-align: center;
  }

  .promo__button-link {
    grid-column: 1 / 3;
    grid-row: -1 / -2;
    width: 292px;

    @include font-face(700, 18px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    grid-template-rows: min-content min-content 1fr min-content 52px;
    padding: 71px 50px 84px;
    max-width: 1050px;
    min-height: 504px;

    &::before {
      height: 24px;
      width: 1050px;
      left: 50%;
      transform: translate(-50%);
      background-image: url("../img/index/promo/zigzag-line-desktop.svg");
    }
  }

  .promo__title {
    z-index: 1;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    width: 600px;
    margin: 61px 0 35px;

    @include font-face(700, 53px, 57px);
  }

  .promo__subtitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: left;
    max-width: 120px;
    margin: 69px 0 0 22px;

    @include font-face(700, 17px, 17px);
    text-align: center;
  }

  .promo__description {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    max-width: 292px;
    min-height: 90px;
    margin-bottom: 60px;

    @include font-face(400, 17px, 30px);
  }

  .promo__list {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin: 0;
    margin-bottom: 20px;

    @include font-face(400, 15px, 20px);
  }

  .promo__image {
    grid-column: -1 / -4;
    grid-row: 1 / -1;
    max-width: 525px;
    min-height: 636px;
    margin: 0;
  }

  .promo__price {
    grid-column: 2 / 4;
    grid-row: -2 / -3;
    margin: 0;
    margin-bottom: 35px;

    @include font-face(700, 20px, 24px);
    text-align: center;
  }

  .promo__button-link {
    grid-column: 2 / 4;
    grid-row: -1 / -2;

    @include font-face(700, 18px, 20px);
  }
}
