.reviews {
  width: 100%;
}

.reviews__wrapper {
  margin: 0 auto;
  padding: 58px 30px 45px;
  max-width: 365px;
}

.reviews__title {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;

  @include font-face(700, 25px, 30px);
  color: $black;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  @include font-face(400, 15px, 30px);
}

.reviews__cite {
  display: block;

  @include font-face(700, 17px, 24px);
}

.reviews__nick-name {
  display: block;

  @include font-face(400, 17px, 30px);
}

.reviews__toggles {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.reviews__button-link {
  min-width: 256px;

  @include font-face(700, 18px, 20px);
}

.toggle-right,
.toggle-left {
  flex-grow: 1;
  min-height: 52px;
  margin: 0;
  padding: 0;
  background-color: $white;
  border: 1px solid $n-white;
}

.toggle-left {
  border-right: none;
}
