.reviews {
  width: 100%;
}

.reviews__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 57px 30px 45px;
  max-width: 365px;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url("../img/index/reviews/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
  }
}

.reviews__title {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;

  @include font-face(700, 25px, 30px);
  color: $black;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;

  @include font-face(400, 15px, 30px);
}

.reviews__cite {
  display: block;
  width: 284px;
  margin-bottom: 4px;
  font-style: normal;

  @include font-face(700, 17px, 24px);
}

.reviews__nick-name {
  display: block;
  width: 284px;

  @include font-face(400, 17px, 30px);
}

.reviews__toggles {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}

.reviews__button-link {
  @include font-face(700, 18px, 20px);
}

.reviews__toggle-right,
.reviews__toggle-left {
  flex-grow: 1;
  height: 52px;
  margin: 0;
  padding: 0;
  background-color: $white;
  border: 1px solid $n-white;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__toggle-left {
  border-right: none;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content auto auto;
    padding: 70px 50px 76px;
    min-width: 668px;
    min-height: 457px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 68px;
      width: 350px;
      height: 457px;
      background-image: url("../img/index/reviews/background.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/reviews/background@2x.jpg");
        background-repeat: no-repeat;
        background-size: 350px auto;
      }
    }

    &::after {
      bottom: -9px;
      height: 18px;
      background-image: url("../img/index/reviews/zigzag-line-tablet.svg");
    }
  }

  .reviews__title {
    z-index: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 350px;
    margin-top: 82px;
    margin-bottom: 10px;
    margin-right: 20px;

    @include font-face(700, 43px, 50px);
  }

  .reviews__list {
    z-index: 1;
    grid-column: 1 / 5;
    grid-row: 2/ 4;
    margin-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 61px;

    @include font-face(400, 17px, 30px);
  }

  .reviews__text br {
    content: "";
  }

  .reviews__text br::after {
    content: "\00a0";
  }

  .reviews__cite {
    @include font-face(700, 18px, 24px);
  }

  .reviews__nick-name {
    display: block;

    @include font-face(400, 17px, 30px);
  }

  .reviews__toggles {
    z-index: 1;
    grid-column: 4 / -1;
    grid-row: -1 / -2;
    align-items: center;
    margin-bottom: 53px;
  }

  .reviews__button-link {
    grid-column: -3 / -1;
    justify-self: end;
    margin-top: 78px;
    margin-bottom: 41px;
    width: 151px;

    @include font-face(700, 17px, 20px);
  }

  .reviews__toggle-right,
  .reviews__toggle-left {
    width: 50px;
    height: 26px;

    background-color: transparent;
    border: none;
  }

  .reviews__toggle-left {
    margin-right: 15px;
  }

  .reviews__toggle-right {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    grid-template-rows: auto 1fr;
    padding: 83px 50px 76px;
    min-width: 1050px;
    min-height: 457px;

    &::before {
      left: 50px;
      top: 74px;
    }

    &::after {
      bottom: -8px;
      height: 24px;
      width: 1050px;
      left: 50%;
      transform: translate(-50%);
      background-image: url("../img/index/reviews/zigzag-line-desktop.svg");
    }
  }

  .reviews__title {
    grid-column: 2 / 4;
    margin-top: 70px;
    margin-bottom: 36px;

    @include font-face(700, 53px, 57px);
  }

  .reviews__list {
    z-index: 1;
    grid-column: 2 / -1;
    grid-row: 2/ 4;
    margin-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 41px;
  }

  .reviews__text br:first-of-type {
    content: none;
  }

  .reviews__cite {
    font-style: normal;

    @include font-face(700, 17px, 30px);
  }

  .reviews__nick-name {
    display: block;

    @include font-face(400, 17px, 24px);
  }

  .reviews__toggles {
    grid-column: -1 / -2;
    align-self: center;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0;
    height: 26px;
  }

  .reviews__toggle-left,
  .reviews__toggle-right {
    margin: 0;
  }

  .reviews__button-link {
    grid-column: -3 / -1;
    justify-self: end;
    margin-top: 70px;
    max-height: 45px;

    @include font-face(700, 17px, 20px);
  }
}
