.search-site {
  height: 50%;
}

.search-site__span-hidden {
  min-width: 167px;

  @include font-face(700, 17px, 24px);
}

.search-site__button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: $white;
  cursor: pointer;

  &:hover {
    stroke-width: 4;

    .search-site__search-icon {
      fill: $l-green;
      opacity: 1;
      pointer-events: stroke;
    }

    span {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    padding: 28px 20px 25px 76px;
    text-align: left;

    svg {
      position: absolute;
      left: 32px;
      top: 31px;
    }
  }
}

.search-site__search-icon {
  fill: $black;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .search-site__span-hidden {
    display: none;
  }

  .search-site__button {
    margin-top: 24px;
    padding: 10px;
  }
}
