.site-list {
  padding: 0;
  margin: 0;
  background-color: $white;
}

.site-list__item {
  list-style: none;
  border-bottom: 1px solid $o-black;

  &:first-child {
    border-top: 1px solid $o-black;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;

  @include font-face(700, 17px, 24px);
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    padding: 29px 20px 25px 76px;
  }
}

.site-list__link--no_link {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 250px;
    background-color: transparent;
  }

  .site-list__item {
    justify-content: start;
    align-items: flex-end;
    width: 151px;
    margin-right: 17px;
    border: none;

    &:first-child {
      border: none;
    }
  }

  .site-list__link {
    margin-top: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

    @include font-face(700, 15px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-grow: 1;
    width: 425px;
    padding-right: 100px;
  }

  .site-list__item {
    align-items: center;
    width: 174px;
    padding-right: 10px;
    margin-right: 35px;

    &:nth-child(2n + 1) {
      border-right: 1px solid $o-black;
    }

    &:nth-child(2n + 2) {
      margin-right: 0;
      padding-right: 0;
    }
  }

  .site-list__link {
    margin-top: 29px;
    margin-bottom: 25px;

    @include font-face(700, 17px, 24px);
  }
}
