.site-list {
  padding: 0;
  margin: 0;
  background-color: $white;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  min-height: 79px;
  border-bottom: 1px solid $o-black;

  &:first-child {
    border-top: 1px solid $o-black;
  }
}

.site-list__link {
  text-decoration: none;

  @include font-face(700, 17px, 24px);
  letter-spacing: 0.7px;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: -15px;
  }
}

.site-list__link--no_link {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    background-color: transparent;
  }

  .site-list__item {
    justify-content: start;
    align-items: flex-end;
    min-height: 45px;
    margin-right: 35px;
    border: none;

    &:first-child {
      border: none;
    }
  }

  .site-list__link {
    @include font-face(700, 15px, 24px);
    letter-spacing: 0.7px;
  }
}

@media (min-width: $desctop-width) {
  .site-list {
    min-width: 50%;
  }

  .site-list__item {
    align-items: center;

    &:first-child {
      padding-right: 35px;
      border-right: 1px solid $o-black;
    }
  }

  .site-list__link {
    @include font-face(700, 17px, 24px);
  }
}
