.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 23px 0 13px;
  border-bottom: 1px solid $n-gray;
}

.social__item {
  margin-right: 41px;
  margin-bottom: 10px;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.social__icons {
  fill: $black;

  &:hover {
    fill: $dd-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--instagram {
  width: 23px;
  height: 22px;
}

.social__link--facebook {
  width: 16px;
  height: 30px;
}

.social__link--twitter {
  width: 25px;
  height: 20px;
}

@media (min-width: $tablet-width) {
  .social {
    border-bottom: none;
    margin: 0 35px;
  }
}
