.type {
  padding: 0;
  margin: 0;
}

.type__item {
  display: flex;
  align-items: center;
  min-height: 42px;
  margin-bottom: 11px;
  margin-left: 61px;
  list-style: none;

  &:first-of-type {
    margin-top: 42px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.type__item label {
  position: relative;
  cursor: pointer;
}

.type__input {
  margin-right: 19px;
}

.type__input + label::before {
  content: "";
  position: absolute;
  left: -61px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $g-black;
}

.type__input:hover + label::before {
  border: 1px solid $n-green;
}

.type__input:active + label::before {
  border: 1px solid $od-black;
}

.type__input:checked + label::after {
  content: "";
  position: absolute;
  left: -49px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $n-green;
}

@media (min-width: $tablet-width) {
  .type {
    flex-direction: column;
  }

  .type__item {
    min-height: 52px;
    margin-left: 78px;
    margin-bottom: 24px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .type__input + label::before {
    left: -78px;
    width: 50px;
    height: 50px;
  }

  .type__input:checked + label::after {
    left: -63px;
    width: 23px;
    height: 23px;
  }
}
