.type {
  padding: 0;
  margin: 0;
}

.type__item {
  display: flex;
  align-items: center;
  min-height: 42px;
  margin-bottom: 11px;
  list-style: none;

  &:first-of-type {
    margin-top: 30px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.type__item label {
  position: relative;
  padding-left: 61px;
  cursor: pointer;
}

.type__input {
  margin-right: 19px;
}

.type__input + label {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $g-black;
  }
}

.type__input:hover + label {
  &::before {
    border: 1px solid $n-green;
  }
}

.type__input:focus + label {
  &::before {
    outline: none;
    box-shadow: 0 0 0 2px $n-green;
  }
}

.type__input:active + label {
  &::before {
    border: 1px solid $od-black;
  }
}

.type__input:checked + label {
  &::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $n-green;
  }
}

@media (min-width: $tablet-width) {
  .type {
    flex-direction: column;
  }

  .type__item {
    min-height: 52px;
    margin-bottom: 24px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .type__item label {
    padding-left: 78px;
  }

  .type__input + label {
    &::before {
      width: 50px;
      height: 50px;
    }
  }

  .type__input:checked + label {
    &::after {
      left: 15px;
      width: 23px;
      height: 23px;
    }
  }
}

@media (min-width: $desktop-width) {
  .type__item:first-child {
    margin-top: 11px;
  }
}
