.user-list {
  padding: 0;
  margin: 0;
  background-color: $white;
}

.user-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78px;
  list-style: none;
  border-bottom: 1px solid $o-black;
}

.user-list__link {
  text-decoration: none;

  @include font-face(700, 17px, 24px);
  color: $black;

  &:hover {
    stroke-width: 4;

    path {
      fill: $l-green;
      opacity: 1;
      pointer-events: stroke;
    }

    span {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .user-list__item {
    min-height: 89px;
    border: none;
    border-left: 1px solid $o-black;

    &:last-child {
      margin-right: 0;
    }
  }

  .user-list__item:first-child {
    width: 82px;
  }

  .user-list__link {
    display: flex;
    margin-left: 30px;
  }

  .user-list__span {
    width: 191px;
    margin-left: 20px;
    text-align: end;
  }
}

@media (min-width: $desctop-width) {
  .user-list {
    justify-content: flex-end;
    min-width: 50%;
  }

  .user-list__item {
    min-height: 89px;
  }
}
