.user-list {
  padding: 0;
  margin: 0;
  background-color: $white;
}

.user-list__item {
  list-style: none;
  border-bottom: 1px solid $o-black;
}

.user-list__link {
  display: block;
  text-decoration: none;

  @include font-face(700, 17px, 24px);
  color: $black;

  &:hover {
    stroke-width: 4;

    .user-list__cart {
      fill: $l-green;
      opacity: 1;
      pointer-events: stroke;
    }

    span {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }

  .user-list__cart {
    fill: $black;
    opacity: 0.2;
  }

  @media (max-width: $mobile-width-only) {
    padding: 29px 20px 25px 76px;
    position: relative;

    svg {
      position: absolute;
      left: 30px;
      top: 30px;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 348px;
    background-color: transparent;
  }

  .user-list__item {
    min-height: 88px;
    border: none;
    border-left: 1px solid $o-black;

    &:last-child {
      margin-right: 0;
    }
  }

  .user-list__item:first-child {
    width: 82px;
  }

  .user-list__link {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .user-list__span {
    width: 191px;
    margin-left: 20px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    justify-content: flex-end;
    flex-grow: 1;
    align-self: flex-start;
    padding-left: 100px;
    width: 425px;
  }

  .user-list__link {
    margin-left: 34px;
  }
}
