.user-name {
  padding: 0;
  margin: 0;
}

.user-name__item {
  margin-bottom: 21px;
  list-style: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    margin-top: 29px;
  }
}

.user-name__item label {
  cursor: pointer;
}

.user-name__input {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 51px;
  border: none;
  border-bottom: 1px solid $black;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }

  &:hover {
    border-bottom: 1px solid $n-green;
  }

  &:focus {
    border-bottom: 1px solid $n-green;
  }
}

@media (min-width: $tablet-width) {
  .user-name {
    flex-direction: column;
  }

  .user-name__item {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    list-style: none;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .user-name__item label {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .user-name__input {
    margin-left: 25px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
