@font-face {
  font-family: "opensans";
  font-weight: 400;
  src: url(../../fonts/opensans.woff) format(woff), url(../../fonts/opensans.woff2) format(woff2);
}

@font-face {
  font-family: "opensans";
  font-weight: 700;
  src: url(../../fonts/opensansbold.woff) format(woff), url(../../fonts/opensansbold.woff2) format(woff2);
}
